{% extends "base.html" %}

{% block content %}
  <h1>Employee List <a class="btn btn-primary" style="float:right" href="{% url 'catalog:employee-form' %}">+</a></h1>

  {% if employees_list %}
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Employee ID</th>
            <th>Position ID</th>
            <th>Username</th>
            <th>Is Active</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for employee in employees_list %}
            <tr>
              <td>{{ employee.id }}</td>
              <td>{{ employee.position.id }}</td>
              <td>{{ employee.username }}</td>
              <td>{{ employee.is_active }}</td>
              <td>
                <a class="btn btn-secondary btn-sm" href="{% url 'catalog:employee-update' pk=employee.id %}">UPDATE</a>
              </td>
              <td>
                <a class="btn btn-danger btn-sm" href="{% url 'catalog:employee-delete' pk=employee.id %}">DELETE</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <p>There are no employees in restaurant.</p>
  {% endif %}
{% endblock %}