{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <h1>Order List <a class="btn btn-primary" style="float:right" href="{% url 'catalog:order-form' %}">+</a></h1>
  <form action="" method="get" class="row g-3 mb-3">
  <div class="col-auto">
    <div class="input-group">
      {{ search_form.customer_name }}
      <button class="btn btn-secondary" type="submit">🔍</button>
    </div>
  </div>
</form>
  {% if orders_list %}
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Order ID</th>
            <th>Dish ID</th>
            <th>Order taker</th>
            <th>Customer name</th>
            <th>Table number</th>
            <th>Price</th>
            <th>Created at</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders_list %}
            <tr>
              <td>
                <a href="{% url 'catalog:order-detail' pk=order.id %}">{{ order.id }}</a>
              </td>
              <td>
                {% for dish in order.dishes.all %}
                  <a href="{% url 'catalog:dish-detail' pk=dish.id %}">{{ dish.id }}</a>{% if not forloop.last %}, {% endif %}
                {% empty %}
                  -
                {% endfor %}
              </td>
              <td>
                {% if order.order_taker %}
                  <a href="{% url 'catalog:employee-detail' pk=order.order_taker.id %}">{{ order.order_taker.username }}</a>
                {% else %}
                  -
                {% endif %}
              </td>
              <td>{{ order.customer_name }}</td>
              <td>{{ order.table_number }}</td>
              <td>{{ order.price }}</td>
              <td>{{ order.created_at }}</td>
              <td>
                <a class="btn btn-secondary btn-sm" href="{% url 'catalog:order-update' pk=order.id %}">UPDATE</a>
              </td>
              <td>
                <a class="btn btn-danger btn-sm" href="{% url 'catalog:order-delete' pk=order.id %}">DELETE</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <p>There are no orders in restaurant.</p>
  {% endif %}
{% endblock %}